{% extends "layout.html" %}
{% block title %}Copies{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{  url_for('static', filename='css/copies/copies.css') }}">
{% endblock %}
{% block content %}
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		{% include 'navbar.html' %}
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		{% include 'sidebar.html' %}
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
                <ul id="copies-list">
                    {% for copy in copies %}
                        <li data-copyid="{{ copy.id }}">
							<span class="label label-info">{{ copy.device_name }} - {{ copy.date }}</span>

							<div id="copy{{ copy.id }}-text" style="margin-top: 10px;">{{ copy.text }}</div>
							<div class="copy-options">
								<span class="option copy-copy" onclick="CopyToClipboard('copy{{ copy.id }}-text')"><i class="fa fa-clone" aria-hidden="true"></i> Copy</span>
								<span class="option copy-star"><i class="fa fa-star" aria-hidden="true"></i> Star</span>
								<span class="option copy-archive"><i class="fa fa-archive" aria-hidden="true"></i> Archive</span>
								<span class="option copy-private"><i class="fa fa-lock" aria-hidden="true"></i> Private</span>
								<span class="option copy-delete" onclick="delete_copy('{{ copy.id }}'); $(this).parent().parent().hide()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>
							</div>
						</li>
                    {% endfor %}
                </ul>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		{% include 'footer.html' %}
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
{% endblock %}

{% block footer %}
	<script src="{{  url_for('static', filename='scripts/copies/copies.js') }}"></script>
{% endblock %}
